/* Master Styles */
h1 {
  color: #369; 
  font-family: Arial, Helvetica, sans-serif;   
  font-size: 250%;
}
h2, h3 { 
  color: #444;
  font-family: Arial, Helvetica, sans-serif;   
  font-weight: lighter;
}
body { 
  margin: 2em; 
}
body, input[text], button { 
  color: #888; 
  font-family: Cambria, Georgia; 
}

.post-container{
  border: 1px solid black;
  width: 500px;
  float: left
}

.post-thumb{
  float: left;
  margin-left:15px;
  margin-top: 15px;
}

.post-content{
  margin-left: 115px;
}
div.post-container:hover{
    background-color:gray;    
    color:white;  
}
/* 
 * See https://github.com/angular/angular.io/blob/master/public/docs/_examples/styles.css
 * for the full set of master styles used by the documentation samples
 */
